[submodule "tests/test-runner"]
	path = tests/test-runner
	url = https://github.com/tozd/meteor-test-runner.git
[submodule "site/themes/meteor"]
	path = site/themes/meteor
	url = https://github.com/meteor/hexo-theme-meteor.git
