* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
#wrap {
  padding-top: 65px;
  padding-left: 260px;
  height: 100%;
}
#header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
#sidebar {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  top: 65px;
  left: 0;
  bottom: 0;
  width: 240px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
#sidebar::-webkit-scrollbar {
  width: 0 !important;
}
#content {
  padding: 20px 30px;
}
#mobile-header {
  z-index: 3;
}
#mobile-shade {
  z-index: 1;
  display: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}
.search-box.st-default-search-input {
  width: 200px;
  background-color: #fff;
  outline: none;
  font-family: 'ProximaNova-Regular';
  font-size: 14px;
  padding: 7px 12px 6px 32px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: url("../images/search.png") 8px 6px no-repeat;
  background-size: 20px;
  transition: border-color 0.25s ease;
}
.search-box.st-default-search-input:focus {
  border-color: #f37425;
}
#header {
  font-family: 'Source Sans Pro', sans-serif;
}
#top-nav {
  height: 30px;
  line-height: 30px;
  background-color: #27272b;
}
#top-nav-links {
  list-style-type: none;
  position: absolute;
  top: 0;
  right: 30px;
}
#top-nav-links li {
  float: left;
  margin-left: 20px;
}
#top-nav-links a {
  display: inline-block;
  height: 30px;
  padding: 0 5px;
  color: #fff;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
#site-nav {
  position: relative;
  height: 65px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 14px 30px 14px 30px;
}
#site-nav a,
#site-nav span,
#site-nav select {
  vertical-align: bottom;
}
#site-nav .sub-title {
  margin: 0 8px;
  position: relative;
  top: 5px;
}
#site-nav .logo img {
  height: 38px;
  margin-bottom: -20px;
}
#site-nav .search-box {
  position: absolute;
  right: 30px;
  top: 20px;
}
.nav-group {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 20px;
}
.nav-group .active {
  border-bottom: 2px solid #f37425;
}
.nav-group .active a {
  color: #f37425 !important;
}
.nav-group .nav-item {
  line-height: 4rem;
  height: 4rem;
  margin-right: 25px;
  display: inline-block;
}
.nav-group .nav-item a {
  color: #444;
  display: block;
  font-size: 14px;
  font-weight: 600;
}
.nav-group .nav-item a:hover {
  text-decoration: underline;
}
#mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  display: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
}
#mobile-header .menu-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 12px;
  background: url("../images/menu.png") center center no-repeat;
  background-size: 24px;
  opacity: 0.5;
}
#mobile-header .logo {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -15px;
  background-size: 30px;
}
#mobile-header .logo img {
  width: 30px;
  height: 30px;
}
#sidebar {
  font-family: 'Source Sans Pro', sans-serif;
  border-right: 1px solid #eee;
  font-size: 16px;
  line-height: 1.1em;
  background: #f8f8f8;
}
#sidebar li {
  margin-bottom: 0.6em;
}
#sidebar a {
  color: #444;
}
#sidebar a.current,
#sidebar a:hover {
  color: #f37425;
}
#sidebar a.H2 {
  font-weight: 600;
}
#sidebar .categories > li > p {
  margin-top: 1.5em;
  border-top: 1px solid #eee;
  text-transform: uppercase;
  padding-top: 1.2em;
  margin-bottom: 1em;
  color: #999;
  font-size: 0.8em;
}
#sidebar .sub-menu {
  font-family: 'ProximaNova-Regular';
  padding-left: 20px;
  margin: 0.6em 0;
  font-size: 14px;
}
#sidebar .sub-menu .active {
  position: relative;
  color: #f37425;
}
#sidebar .sub-menu .active:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -15px;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #f37425;
}
#sidebar-mobile {
  display: none;
  margin-bottom: 20px;
}
#sidebar-mobile .search-box {
  width: 200px;
  margin-bottom: 20px;
}
#content {
  max-width: 760px;
  margin: 0px auto;
  -webkit-text-size-adjust: 100%;
}
#content em {
  font-style: italic;
}
#content strong {
  font-family: 'Source Sans Pro', sans-serif;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6,
#content p,
#content ul,
#content ol,
#content figure {
  margin: 15px 0;
  line-height: 1.4em;
}
#content h1 {
  font-size: 2.2em;
  margin-top: 0;
  margin-bottom: 30px;
}
#content h2 {
  font-size: 1.7em;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
#content h3 {
  font-size: 1.4em;
  margin-top: 30px;
}
#content h2,
#content h3 {
  position: relative;
}
#content h2 .anchor,
#content h3 .anchor {
  opacity: 0;
  position: absolute;
  font-size: 16px;
  top: 2px;
  left: -21px;
}
#content h2:hover .anchor,
#content h3:hover .anchor {
  opacity: 1;
}
#content ul,
#content ol {
  padding-left: 1.5em;
}
#content ul li,
#content ol li {
  margin-bottom: 5px;
}
#content ul {
  list-style-type: disc;
}
#content ol {
  list-style-type: decimal;
}
#content a {
  color: #f37425;
}
#content img {
  max-width: 100%;
}
#content code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.8em;
  line-height: 1.6em;
  padding: 1px 4px;
  background-color: #eee;
  margin: 0 2px;
}
#content blockquote {
  padding-left: 1.3em;
  border-left: #eee solid 0.2em;
  font-style: italic;
}
#content .edit-discuss-links {
  margin-top: -25px;
  margin-bottom: 40px;
}
#content .highlight {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.8em;
  line-height: 1.6em;
  margin: 20px 0;
  overflow-x: auto;
  position: relative;
  background-color: #f8f8f8;
  padding: 20px 30px;
}
#content .highlight table,
#content .highlight tr,
#content .highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
#content .highlight .gutter {
  user-select: none;
  width: 1.5em;
  padding-right: 30px;
}
#content .highlight.html .code:after,
#content .highlight.js .code:after,
#content .highlight.bash .code:after,
#content .highlight.css .code:after {
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  letter-spacing: 1.5px;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}
#content .highlight.html.html .code:after,
#content .highlight.js.html .code:after,
#content .highlight.bash.html .code:after,
#content .highlight.css.html .code:after {
  content: 'HTML';
}
#content .highlight.html.js .code:after,
#content .highlight.js.js .code:after,
#content .highlight.bash.js .code:after,
#content .highlight.css.js .code:after {
  content: 'JS';
}
#content .highlight.html.bash .code:after,
#content .highlight.js.bash .code:after,
#content .highlight.bash.bash .code:after,
#content .highlight.css.bash .code:after {
  content: 'Shell';
}
#content .highlight.html.css .code:after,
#content .highlight.js.css .code:after,
#content .highlight.bash.css .code:after,
#content .highlight.css.css .code:after {
  content: 'CSS';
}
#content > table {
  width: 100%;
  margin: 20px 0;
}
#content > table tr {
  border-top: 1px solid #eee;
}
#content > table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
#content > table th {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 12px 13px;
}
#content > table th,
#content > table td {
  border: 1px solid #eee;
  vertical-align: middle;
}
#content > table td {
  padding: 6px 13px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.8em;
  line-height: 1.6em;
}
#content .bottom-nav {
  height: 44px;
  margin: 30px 0 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
}
#content .bottom-nav a {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 5px;
}
#content .edit-link {
  text-align: center;
}
#content .edit-link a {
  color: #aaa;
  font-family: 'Source Sans Pro', sans-serif;
}
#content .edit-link a:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/gh.png") center center no-repeat;
  background-size: 16px;
  opacity: 0.3;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.gutter pre {
  color: #999;
}
pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attribute {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .class .title {
  color: #4077bf;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #90a959;
}
pre .title {
  color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #90a959;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
@media screen and (max-width: 560px) {
  body {
    font-size: 14px;
  }
  body.sidebar-open #sidebar {
    transform: translate3d(0, 0, 0);
  }
  body.sidebar-open #mobile-shade {
    opacity: 1;
    pointer-events: auto;
  }
  #header {
    height: 40px;
  }
  #top-nav,
  #site-nav {
    display: none;
  }
  #mobile-header,
  #mobile-shade,
  #sidebar-mobile {
    display: block;
  }
  #wrap {
    padding-top: 40px;
    padding-left: 0;
  }
  #sidebar {
    top: 0;
    left: 0;
    padding-top: 60px;
    border-right: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    transition: transform 0.3s ease;
    transform: translate3d(-120%, 0, 0);
    display: block;
  }
}
